doctype html
html.h-100(lang="en")
  head
    title= Title
    // script(src=assetPath('main.css'))
    script.
      var gon = !{JSON.stringify(gon)};
  body.h-100
    .d-flex.flex-column.h-100
      .container-fluid.h-100.p-0
        .h-100#chat
      // block content
    script(src=assetPath('main.js'))
